.card-container{
    text-align: center;
    /* width: 800px; */
    width: 100%;
    height: 500px;
    padding: 50px;
}

.card-container img{
    width: 125px;
    height: 125px;
}

.card-container p{
    margin-top: 30px;
    color: #212529;
}

/* css for responsive */

@media (max-width: 900px) {
    .card-container{
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 600px) {
    .card-container{
        width: 400px;
        height: 400px;
    }
}