footer{
    width: 100%;
    height: 570px;
    margin: 0px;
    background-color: #f8ce8a;
    padding: 120px 200px;
    overflow: hidden;
}

.footer-area{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    grid-template-areas: 
    'fl fc fr';
}

.footer-left{
    grid-area: fl;
}

.footer-center{
    grid-area: fc;
    padding: 0% 20%;
    padding-top: 5%;
}

.footer-right{
    grid-area: fr;
    padding-left: 10%;
    padding-top: 5%;
}


.footer-left img{
    margin-bottom: 20px;
}

.bold{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.quick-link{
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
}

.list-link{
    color: black;
}

.list-link a{
    font-style: normal;
    color: black;
    font-weight: 600;
}

.quick-link a:hover{
    font-style: normal;
}


/* input button */

/* From uiverse.io by @alexruix */
.input-group {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .inpu {
    height: 45px;
    max-width: 150px;
    padding: 10px;
    color: rgb(24, 24, 24);
    font-size: 15px;
    border: 1px solid #c27a07;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    width: 90px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #c27a07;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #df931a;
  }

  .button--submit:active{
    font-size: 13px;
  }
  
  .inpu:focus, .inpu:focus-visible {
    border-color: #c27a07;
    outline: none;
  }
  

/* image footer */

.img-footer{
    width: 400px;
    margin-top: -100px;
    margin-left: 80px;
}



/* css for responsive */

@media (max-width: 1200px) {
    footer{
        height: 570px;
        padding: 120px 150px;
    }
    
    .footer-area{
        height: 300px;
        display: grid;
        grid-template-columns: 33.3% 33.4% 33.3%;
        grid-template-areas: 
        'fl fc fr';
    }
}

@media (max-width: 1110px) {
    footer{
        padding: 120px 100px;
    }
}

@media (max-width: 1010px) {
    footer{
        padding: 120px 100px;
    }

    .inpu {
        border-radius: 6px 6px 0px 0;
    }
      
    .button--submit {
        border-radius: 0 0 6px 6px;
        width: 150px;
    }

    .img-footer{
        margin-left: 0px;
    }
}

@media (max-width: 780px) {
    footer{
        height: 800px;
        padding: 120px 0px;
    }

    .footer-area{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding-left: 30%;
        padding-right: 0;
        /* border: 1px solid black; */
        text-align: center;
        height: auto;
        display: grid;
        /* grid-template-columns: 100%; */
        grid-template-areas: 
        'fl'
        'fc'
        'fr';
    }

    .footer-left{
        grid-area: fl;
        width: 300px;
        /* background-color: red; */
        /* margin-left: -100px; */
    }
    
    .footer-center{
        grid-area: fc;
        padding: 0% 0%;
        padding-top: 5%;
        width: 300px;
        /* margin-left: -100px; */
    }
    
    .footer-right{
        grid-area: fr;
        padding-left: 0%;
        padding-top: 5%;
        width: 300px;
        /* margin-left: -100px; */
    }

    .img-footer{
        display: none;
    }

    .inpu {
        border-radius: 6px 0px 0px 6px;
        margin-left: 30px;
    }
      
    .button--submit {
        border-radius: 0 6px 6px 0;
        width: 100px;
    }
}

@media (max-width: 600px) {
    .footer-area{
        padding-left: 25%;
    }
}

@media (max-width: 520px) {
    .footer-area{
        padding-left: 10%;
    }
}